.carousel .thumbs {
    text-align: center !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid #121314 !important;
    border-radius: 5px;
}

.carousel .thumb {
    border: none;
}

.carousel .control-dots .dot {
    background: #333;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    display: none;
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    font-size: 22px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: auto;
    background-color: #bec8cc;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .carousel .control-dots .dot {
        width: 8px;
        height: 8px;
        margin: 0 2px;
    }
}